<div class="p-1 my-2 rounded shadow-sm bg-dark align-items-center text-white">
    <div class="d-flex align-items-center p-2">
        <img class="img-thumbnail" src="{{plane.imgs[0]}}" alt="{{plane.name}}" width="75">
        <div class="col-md-11">
            <div class="container row">
                <div class="col-md-2">
                    <h3 class="pt-2">{{plane.name}}</h3>
                </div>
                <div class="col-md-2">
                    <p class="pt-3">{{plane.country}}</p>
                </div>
                <div class="col-md-3">
                    <p class="pt-3">{{plane.manufacturer}}</p>
                </div>
                <div class="col-md-4">
                    <p class="pt-3">{{plane.role}}</p>
                </div>
            </div>
        </div>
    </div>
</div>