.minHeightSet
{
     min-height: 85vh;
}
.overlay 
{ 
     position: relative; 
}
.overlay img 
{ 
     display: block; 
}
.overlay .bg-dark 
{ 
     position: absolute; 
     right: 0; 
     top:0; 
}
i
{
     cursor: pointer;
}

